
:root{
	--fondo-iconos:#151821;
	--fondo-footer:#040406;
	--color-naranja:#EEB54E;
	--color-tiutulos:#edeff5;
	--color-contenido:#7e8394;
    --color-footer:#6c6c6c;
}


header{
	position: absolute;
	width: 100%;
    background-color: #fff;
}

.header-area.sticky {
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);*/
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99999;
	transition: 0.3s all ease;
}
.header-area.sticky .navbar-light{
	background-color: #333e50 !important;
}

#hero{
    background-color: #09090d;
    background-size: cover;
	background-position: top center;
	background-attachment: fixed;
    padding: 100px 0;
    color: #fff;
}

#hero h1{
    font-size: 100px;
    margin-bottom: 30px;
}

#hero p{
    font-size: 20px;
    color: var(--color-contenido);
    margin-bottom: 30px;
}

.beautiful{
    font-weight: 300;
    color: var(--color-naranja);
    margin-bottom: 30px;
}

.btn-swape{
    background-color: #28282D;
    color: #fff;
    margin-bottom: 40px;
    
}

#features{
    text-align: center;
    background-color: #09090d;
    color: #fff;
    padding: 100px 0;
}

#features i{
    color: var(--color-naranja);
	font-size: 54px;
}

#three{
    background-color: #131425;
    color: #fff;
    padding: 100px 0;
        
}


#three h4{
	font-size: 22px;
	font-weight: 400;
}
#three i{
	color: var(--color-naranja);
	font-size: 54px;
}
#three .row{
	margin-bottom: 40px;
}



footer {
    text-align: center;
    background-color: #040406;
    color: #fff;
    padding: 100px 0;
}

#download{
    text-align: center;
}

#download{
    background-color: #131425;
    color: #fff;
    padding: 100px 0;
}

.titulo{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

#sociales{
    background-color: #131425;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

#sociales i{
    color: #fff;
    font-size: 54px;
}

#features article{
    text-align: left;
}













